.about-us {
    padding: 100px 0; /* Ajusta según sea necesario */
    background-color: #f4f4f9; /* Color de fondo */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    flex: 1;
    padding-right: 30px;
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-image img {
    max-width: 100%;
    height: auto;
}