<app-navbar></app-navbar>
<section class="about-us">
    <div class="container">
        <div class="about-content">
            <h2>Sobre Nosotros</h2>
            <p>Somos una agencia de viajes dedicada a brindar experiencias únicas y memorables a nuestros clientes. Con años de experiencia en la industria del turismo, estamos comprometidos a ofrecer los mejores servicios y destinos para satisfacer las necesidades de cada viajero.</p>
            <p>Nuestro equipo está formado por apasionados expertos en viajes que se esfuerzan por brindar atención personalizada y asesoramiento experto en cada paso del camino. Ya sea que estés buscando unas vacaciones relajantes en la playa, una emocionante aventura de montaña o una escapada cultural, estamos aquí para hacer realidad tus sueños de viaje.</p>
            <p>Confía en nosotros para planificar tu próximo viaje y descubre por qué somos la elección preferida de tantos viajeros exigentes en todo el mundo.</p>
        </div>
        <div class="about-image">
            <img src="https://img.freepik.com/fotos-premium/fondo-viajes-turismo-extranjero-ai-generado_538866-1011.jpg" alt="Nosotros">
        </div>
    </div>
</section>
<app-footer></app-footer>