.blog {
    padding: 2rem 0;
    text-align: center; /* Centra todo el contenido */
  }
  
  .blog h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
  
  .blog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center; /* Centra los elementos */
  }
  
  .blog-post {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: calc(33.333% - 2rem);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .blog-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .blog-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente el contenido */
    flex-grow: 1;
  }
  
  .blog-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .blog-content .meta {
    font-size: 0.875rem;
    color: #999;
    margin-bottom: 1rem;
  }
  
  .blog-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
    flex-grow: 1;
  }
  
  .blog-content button {
    background: #4caf50;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    align-self: center; /* Centra horizontalmente el botón */
  }
  
  .blog-content button:hover {
    background: #49ed4e;
  }
  